body {
    font-family: "Poppins", sans-serif;
        margin: 0;
    padding: 0;
    background-color: #f3f3e5;
  }
  
  .container {
    width: 65%;
    margin: 30px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #cfb53b;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  th, td {
    padding: 12px 15px;
    border: 2px solid #ddd;
  }
  
  th {
    background-color: #cbb989;
    color: white;
    text-transform: uppercase;
  }
  
  td {
    background-color: #cbb989;
    color: white;
    font-weight: bold;
  }
  
  td.green {
    background-color: #8cbf5c;
    color: white;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #5c3828;
  }

  section .header {
    color: #cfb53b;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    text-align: center;
    margin-top: 3rem;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #18181b;
    margin-top: -2rem;
    margin-bottom: 3rem;
}
  

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #cbb989;
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
    z-index: 100;
    border-radius: 5px;
}

tbody tr td, tbody tr td p, tbody tr td img {
    transition: .2s ease-in-out;
    background-color: #cbb989;
    border-radius: 5px;
}

.table-navigation {
    text-align: center; /* Pusatkan tombol */
    margin-top: 20px; /* Tambahkan jarak dengan tabel */
    margin-bottom: 30px;
  }
  
  .table-navigation button {
    background-color: #cfb53b; /* Warna hijau */
    color: white; /* Warna teks */
    border: none; /* Hilangkan border */
    padding: 10px 20px; /* Tambahkan ruang di sekitar teks */
    margin: 0 10px; /* Jarak antar tombol */
    font-size: 16px; /* Ukuran teks */
    border-radius: 5px; /* Membuat sudut tombol melengkung */
    cursor: pointer; /* Ubah kursor menjadi pointer saat dihover */
    transition: background-color 0.3s, transform 0.2s; /* Animasi halus */
  }
  
  .table-navigation button:hover {
    background-color: #cfb53b; /* Warna lebih gelap saat dihover */
    transform: scale(1.05); /* Perbesar tombol sedikit saat dihover */
  }
  
  .table-navigation button:disabled {
    background-color: #cccccc; /* Warna abu-abu untuk tombol yang dinonaktifkan */
    color: #666666; /* Warna teks untuk tombol yang dinonaktifkan */
    cursor: not-allowed; /* Ubah kursor menjadi tanda larangan */
    transform: none; /* Nonaktifkan animasi pada tombol yang dinonaktifkan */
  }
  