/* stylerapat.css */

body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 20px;
}

.header {
  font-size: 32px;
  font-weight: 700;
  color: #cfb53b;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif;
}


.container {
  max-width: 1100px;
  margin: auto;
  background: linear-gradient(90deg, rgba(208, 172, 77, 1) 10%, rgba(226, 204, 142, 1) 40%, rgba(226, 204, 142, 1) 60%, rgba(208, 172, 77, 1) 90%);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  align-items: center;
  justify-content: center;
}

.table thead {
  background-color: transparent;
}

.table thead th {
  text-align: center;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #374151;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.table tbody tr {
  background-color: #f5f5dc;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
  transition: all 0.2s ease-in-out;
  
}

.table tbody tr:hover {
  transform: scale(1.01);
  background-color: #f5f5dc;
}

.table tbody td {
  padding: 14px 16px;
  font-size: 15px;
  color: #374151;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
}

.btn1 {
  display: inline-block;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #800000;
  color: #fff;
}

.btn-primary:hover {
  background-color: #800000;
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.3);
  transform: translateY(-1px);
}

@media screen and (max-width: 768px) {
  .table thead {
      display: none;
  }

  .table tbody td {
      display: block;
      width: 100%;
      padding: 10px;
      text-align: right;
      position: relative;
  }

  .table tbody td::before {
      content: attr(data-label);
      position: absolute;
      left: 15px;
      top: 10px;
      font-weight: bold;
      color: #6b7280;
      text-transform: uppercase;
  }

  .table tbody tr {
      display: block;
      margin-bottom: 15px;
  }
}
